@import "/src/styles/mixins.sass"

.container
    display: inline-flex
    flex-direction: column
    gap: 0.2rem

.label, .helperText
    margin-left: 0.75rem
    text-transform: capitalize

.label
    @include label

.helperText
    @include label($disabled: true)
