@import "npm:mappy-breakpoints"

// sorry, unsupported multiline
$breakpoints: ( "mobile": 768px, "tablet": 992px, "laptop": 1260px )
$mappy-queries: ( max-mobile: mappy-bp(max-width mobile), min-mobile: mappy-bp(mobile), max-tablet: mappy-bp(max-width tablet), min-tablet: mappy-bp(tablet), max-laptop: mappy-bp(max-width laptop), min-laptop: mappy-bp(laptop) )

@include mappy-bp(max 320px)
    html
        background-color: red !important

@mixin reset
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    box-shadow: none
    background-color: transparent
    border: none
    text-decoration: none

@mixin clickable
    border-radius: 0.75rem
    cursor: pointer

    &:focus-visible
        outline: none
        box-shadow: var(--shadow-focus)

@mixin clickable-styled($subclasses: false, $disabled: false, $outlined: false, $dangerous: false, $block: false)
    border-radius: if($block, 2px 2px 0.75rem 2px, 0.75rem)
    transition: box-shadow 0.2s ease

    &:focus-visible
        outline: none

    $outline: inset 0 0 0 0.2rem

    //  sorry
    @if $subclasses
        &.outlined
            background-color: var(--color-white-primary)

        &:not(.outlined)
            color: var(--color-white-primary)

        &:not(.disabled)
            cursor: pointer

        &:not(.disabled):not(.outlined)
            box-shadow: var(--shadow-primary)
            &:hover
                box-shadow: var(--shadow-primary-hover)
            &:focus-visible
                box-shadow: var(--shadow-focus), var(--shadow-primary-hover)
            &:active
                box-shadow: none

        &.dangerous
            &.outlined
                &.disabled
                    color: var(--color-red-dangerous-disabled)
                    box-shadow: $outline var(--color-red-dangerous-disabled)
                &:not(.disabled)
                    color: var(--color-red-dangerous)
                    box-shadow: $outline var(--color-red-dangerous), var(--shadow-primary)
                    &:hover
                        box-shadow: $outline var(--color-red-dangerous), var(--shadow-primary-hover)
                    &:focus-visible
                        box-shadow: var(--shadow-primary-hover), var(--shadow-focus)
                    &:active
                        box-shadow: $outline var(--color-red-dangerous)
            &:not(.outlined)
                &.disabled
                    background-color: var(--color-red-dangerous-disabled)
                &:not(.disabled)
                    background-color: var(--color-red-dangerous)

        &.base
            &.outlined
                &.disabled
                    color: var(--color-black-primary-disabled)
                    box-shadow: $outline var(--color-black-primary-disabled)
                &:not(.disabled)
                    color: var(--color-black-primary)
                    box-shadow: $outline var(--color-black-primary), var(--shadow-primary)
                    &:hover
                        box-shadow: $outline var(--color-black-primary), var(--shadow-primary-hover)
                    &:focus-visible
                        box-shadow: var(--shadow-primary-hover), var(--shadow-focus)
                    &:active
                        box-shadow: $outline var(--color-black-primary)
            &:not(.outlined)
                &.disabled
                    background-color: var(--color-black-primary-disabled)
                &:not(.disabled)
                    background-color: var(--color-black-primary)

    @else

        @if $outlined
            background-color: var(--color-white-primary)
        @else
            color: var(--color-white-primary)

        @if not $disabled
            cursor: pointer

            @if not $outlined
                box-shadow: var(--shadow-primary)
                &:hover
                    box-shadow: var(--shadow-primary-hover)
                &:focus-visible
                    box-shadow: var(--shadow-focus), var(--shadow-primary-hover)
                &:active
                    box-shadow: none

        @if $dangerous
            @if $outlined
                @if $disabled
                    color: var(--color-red-dangerous-disabled)
                    box-shadow: $outline var(--color-red-dangerous-disabled)
                @else
                    color: var(--color-red-dangerous)
                    box-shadow: $outline var(--color-red-dangerous), var(--shadow-primary)
                    &:hover
                        box-shadow: $outline var(--color-red-dangerous), var(--shadow-primary-hover)
                    &:focus-visible
                        box-shadow: var(--shadow-primary-hover), var(--shadow-focus)
                    &:active
                        box-shadow: $outline var(--color-red-dangerous)
            @else
                @if $disabled
                    background-color: var(--color-red-dangerous-disabled)
                @else
                    background-color: var(--color-red-dangerous)

        @else
            @if $outlined
                @if $disabled
                    color: var(--color-black-primary-disabled)
                    box-shadow: $outline var(--color-black-primary-disabled)
                @else
                    color: var(--color-black-primary)
                    box-shadow: $outline var(--color-black-primary), var(--shadow-primary)
                    &:hover
                        box-shadow: $outline var(--color-black-primary), var(--shadow-primary-hover)
                    &:focus-visible
                        box-shadow: var(--shadow-primary-hover), var(--shadow-focus)
                    &:active
                        box-shadow: $outline var(--color-black-primary)
            @else
                @if $disabled
                    background-color: var(--color-black-primary-disabled)
                @else
                    background-color: var(--color-black-primary)

@mixin tappable
    &:active
        background-color: var(--color-grey-light)

@mixin font-style($size, $weight, $uppercase: false, $spaced: false, $disabled)
    font-size: $size
    font-weight: $weight
    font-family: "Roboto", Arial, Helvetica, sans-serif
    line-height: normal
    text-decoration: none
    color: var(--color-black-primary)

    @if $disabled
        color: var(--color-black-primary-disabled)

    @if $uppercase
        text-transform: uppercase

    @if $spaced
        letter-spacing: 0.06rem

@mixin text($disabled: false)
    @include font-style(1rem, 500, $disabled: $disabled)

@mixin text--regular($disabled: false)
    @include font-style(1rem, 400, $disabled: $disabled)

@mixin text--thin($disabled: false)
    @include font-style(1rem, 300, $disabled: $disabled)

@mixin text-small($disabled: false)
    @include font-style(0.875rem, 500, $disabled: $disabled)

@mixin label($disabled: false)
    @include font-style(0.75rem, 700, $spaced: true, $disabled: $disabled)

@mixin label-large($disabled: false)
    @include font-style(1rem, 700, $uppercase: true, $spaced: true, $disabled: $disabled)

@mixin header($disabled: false)
    @include mappy-query(max-mobile)
        @include font-style(1.125rem, 700, $uppercase: true, $spaced: true, $disabled: $disabled)

    @include mappy-query(min-mobile)
        @include font-style(1.75rem, 700, $uppercase: true, $spaced: true, $disabled: $disabled)

@mixin input($disabled: false)
    @include font-style(1rem, 700, $spaced: true, $disabled: $disabled)
